<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">TradeMon - это трейдинговые сигналы на основе анализа более 600 базовых финансовых инструментов по десятку различных трейдинговых стратегий.</p>
                <p class="text-faded">Человек не в состоянии отследить движения курсов или посчитать вручную статистические данные, которые предполагают тренд или разворот тренда по большому количеству доступных инструментов. Также трудно держать в голове даже более 2-4х возможных стратегий одновременно, анализируя графики. Наши алгоритмы выявляют финансовый инструмент, предлагают курс для покупки или продажи в конце каждого торгового дня, а также срок закрытия сделки по некоторым стратегиям.</p>
                <p class="text-faded">Доступ к результатам алгоритмов Вы получаете через интернет-страницу или мессенджер Телеграм (канал TradeMon). Там Вы можете выбрать интерсующую Вас группу инвестиционных продуктов и стратегий. С описанием работы стратегий Вы можете ознакомиться на нашей интернет-странице. Наши стратегии имеют краткосрочный характер: от 2х дней до 2-х недель. Мы не указываем стоп-лоссы, но рекомендуем работать с ними. </p>
                <p class="text-faded">Если Вы не имеете возможность отслеживать рынки, заняты другими делами или путешествуете, ТradeMon информирует Вас ежедневно в конце торговой сессии по интерсующим Вас продуктам и стратегиям. ТрейдМон предлагает пользователям возможность общаться в чатах Телеграм- каналa и по возможности отвечать на интересующие Bас вопросы.</p>  
                <p class="text-faded">Первые 2 месяца вы получаете бесплатный доступ к торговым сигналам. По истечении этого срока мы предлагаем месячный аббонемент за 800 рублей или годовой за 8.000 рублей.</p>  
                <p class="text-faded">Let`s go! Open and close your positions on time, buy on the bottom, sell on the peak!</p>  
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
